<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template> <!-- es esta equiqueta es donde se pone el html y el css -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> --> <!--el prop1 es un valor de java script que definimos justo debajo y esto se llama DataBinding, es decir, se enlaza el dato con su representacion,-->
                                       <!--osea que de esta manera relacionamos javascript con html5 y asi es como se hace con polymer-->
    <!--definimos una propiedad de una clase de tipo one way-->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>
    <!--definimos una propiedad de una clase de tipo two ways-->
    <input type="text" value="{{first_name::input}}"/> <!--usamos ::input para indicar a polymer que atienda a un evento de tipo two ways.-->
                                                       <!--con el two ways permmite introducir datos en el front y que se guarden en el html, ojo no en el codigo-->
    <input type="range" min="18" value="{{age::input}}" max="70"/>
  </template>

  <script>  /** Aqui es donde se configura el dinamismo y la funcionalidad, lo que se quiere hacer con lo que se ve
    /**
     * @customElement
     * @polymer
     */
     /** para cada elemento de mi pagina web defino una clase que es un webcomponent y cada clase lo definen sus propiedades**/
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          /*
          prop1: {
            type: String,
            value: 'frontproyecto-app. Gonzalo'
          }
          */
          first_name: {
            type: String,
            value: 'frontproyecto-app. Gonzalo'
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
