<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template> <!-- es esta equiqueta es donde se pone el html y el css -->
    <style> /**este estilo es local y solo afecta a este web component**/
      :host {
        display: block; /**esto dice que se muestren los componentes si pones none no se muestra**/
        /**all: initial; /**esto dice de poner todos los estilos a su valor inicial**/
        border: solid red;
      }
    </style>
    <!--podemos aplicar bootstrap a nivel local-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

    <input placeholder="email" type="text" value="{{email::input}}" />
    <input placeholder="password" type="password" value="{{password::input}}" />
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido/a de nuevo</span> <!--la etiqueta span define una linea-->


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type ="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>  /** Aqui es donde se configura el dinamismo y la funcionalidad, lo que se quiere hacer con lo que se ve
    /**
     * @customElement
     * @polymer
     */
     /** para cada elemento de mi pagina web defino una clase que es un webcomponent y cada clase lo definen sus propiedades**/
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type:Boolean,
            value:false
          }
        };
      }

      login() {
        console.log("El usuario ha pulsado el boton");
        console.log("Voy a enviar la peticion");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        /**con dolar estamos haciendo una propiedad del dom local**/
        console.log(loginData);
        console.log("llegue aqui");
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      /**por aqui pasa si no hay error**/
      manageAJAXResponse(data) {
        console.log("Llegaron los datos");
        console.log(data.detail.response);
        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
