<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-cuentas">
  <template> <!-- es esta equiqueta es donde se pone el html y el css -->
    <style> /**este estilo es local y solo afecta a este web component**/
      :host {
        display: block; /**esto dice que se muestren los componentes si pones none no se muestra**/
        /**all: initial; /**esto dice de poner todos los estilos a su valor inicial**/
        border: solid green;
      }
    </style>
    <!--podemos aplicar bootstrap a nivel local-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <h2>Sus cuentas</h2>
    <!--
    <h2>IBAN [[iban]]</h2>
    <h3>Balance [[balance]]</h3>
    <h4>IdUsuario [[idusuario]]<h4>
    -->
    <template is="dom-repeat" items="{{accounts}}">
      <span>IBAN - {{item.IBAN}}</span>
      <span>Saldo - {{item.balance}}</span>
      </br>
    </template>


    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v1/cuentas/{{idusuario}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>  /** Aqui es donde se configura el dinamismo y la funcionalidad, lo que se quiere hacer con lo que se ve
    /**
     * @customElement
     * @polymer
     */
     /** para cada elemento de mi pagina web defino una clase que es un webcomponent y cada clase lo definen sus propiedades**/
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          /*
          prop1: {
            type: String,
            value: 'frontproyecto-app. Gonzalo'
          }
          */
          iban: {
            type: String,
          }, idusuario: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData(data) {
        console.log(data.detail.response);
        /**
        this.iban = data.detail.response[0].IBAN;
        this.idusuario = data.detail.response[0].IdUsuario;
        this.balance = data.detail.response[0].balance;
        **/
        this.accounts = data.detail.response
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
