<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template> <!-- es esta equiqueta es donde se pone el html y el css -->
    <style> /**este estilo es local y solo afecta a este web component**/
      :host {
        display: block; /**esto dice que se muestren los componentes si pones none no se muestra**/
        /**all: initial; /**esto dice de poner todos los estilos a su valor inicial**/
        border: solid red;
      }
    </style>
    <!--podemos aplicar bootstrap a nivel local-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]]</h3>

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>  /** Aqui es donde se configura el dinamismo y la funcionalidad, lo que se quiere hacer con lo que se ve
    /**
     * @customElement
     * @polymer
     */
     /** para cada elemento de mi pagina web defino una clase que es un webcomponent y cada clase lo definen sus propiedades**/
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          /*
          prop1: {
            type: String,
            value: 'frontproyecto-app. Gonzalo'
          }
          */
          first_name: {
            type: String,
            value: 'Gonzalo'
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log(data.detail.response);
        this.first_name = data.detail.response.first_name; /** this permite acceder a la propiedad y al final esto hace que salga o no en el front**/
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
